<div class="container" style="margin-top:30px">
    <section id="education" class="section section-education wow fadeInUp" data-wow-offset="40" style="visibility: visible; animation-name: fadeInUp;">
    <div class="header-section">
        <h2 class="h2-section">EXPERIENCE</h2>
    </div>
        <div class="row">
            <!-- single education -->
            <div class="col-sm-4">
                <div class="education-content">
                    <div class="period">
                        <h3>Jan-2020-Present</h3>
                    </div>
                    <ul class="ul-education">
                        <li class="li-specialty">
                            <div class="specialty">
                                <span class="education-icon"><i class="fa fa-file-text"></i></span>
                                <span class="specialty-name">Full Stack Developer</span>
                            </div>
                        </li>
                        <li class="li-university">
                            <div class="university">
                                <span class="education-icon"><i class="fa fa-university"></i></span>
                                <span class="university-name">IA Financial Group</span>
                            </div>
                        </li>
                    </ul>
                    <p class="prg-education"><strong>Responsibility:</strong>Developed Single Page Applications (SPA) using Angular 8, Typescript, HTML5, CSS3, and Bootstrap 3.</p>
                </div>
            </div>
            <!-- / single education -->
            <!-- single education -->
            <div class="col-sm-4">
                <div class="education-content">
                    <div class="period">
                        <h3>July-2019-Dec-2019</h3>
                    </div>
                    <ul class="ul-education">
                        <li class="li-specialty">
                            <div class="specialty">
                                <span class="education-icon"><i class="fa fa-file-text"></i></span>
                                <span class="specialty-name">Full Stack Developer</span>
                            </div>
                        </li>
                        <li class="li-university">
                            <div class="university">
                                <span class="education-icon"><i class="fa fa-university"></i></span>
                                <span class="university-name">TD Securities</span>
                            </div>
                        </li>
                    </ul>
                    <p class="prg-education"><strong>Responsibility:</strong>Developed Single Page Applications (SPA) using Angular 8, Typescript, HTML5, CSS3, and Bootstrap 3.</p>
                </div>
            </div>
            <!-- / single education -->
            <!-- single education -->
            <div class="col-sm-4">
                <div class="education-content">
                    <div class="period">
                        <h3>Feb-2019-July-2019</h3>
                    </div>
                    <ul class="ul-education">
                        <li class="li-specialty">
                            <div class="specialty">
                                <span class="education-icon"><i class="fa fa-file-text"></i></span>
                                <span class="specialty-name">Full Stack Developer</span>
                            </div>
                        </li>
                        <li class="li-university">
                            <div class="university">
                                <span class="education-icon"><i class="fa fa-university"></i></span>
                                <span class="university-name">TD Bank(Wealth)</span>
                            </div>
                        </li>
                    </ul>
                    <p class="prg-education"><strong>Responsibility:</strong>Developed Single Page Applications (SPA) using Angular 6, Typescript, HTML5, CSS3, and Bootstrap 3.</p>
                </div>
            </div>
            <!-- / single education -->
            <div class="clearfix"></div>
            <!-- single education -->
            <div class="col-sm-4">
                <div class="education-content">
                    <div class="period">
                        <h3>July-2018 - Jan-2019</h3>
                    </div>
                    <ul class="ul-education">
                        <li class="li-specialty">
                            <div class="specialty">
                                <span class="education-icon"><i class="fa fa-file-text"></i></span>
                                <span class="specialty-name">Front End Angular 6 Developer</span>
                            </div>
                        </li>
                        <li class="li-university">
                            <div class="university">
                                <span class="education-icon"><i class="fa fa-university"></i></span>
                                <span class="university-name">Secreat Location(Company Name)</span>
                            </div>
                        </li>
                    </ul>
                    <p class="prg-education"><strong>Responsibility:</strong>Designed and developed the application using Angular 6 framework along with HTML5, CSS3, Type Script, Java Script, Bootstrap 4, NPM</p>
                </div>
            </div>
            <!-- / single education -->
            <!-- single education -->
            <div class="col-sm-4">
                <div class="education-content">
                    <div class="period">
                        <h3>Feb-2018 - July-2018</h3>
                    </div>
                    <ul class="ul-education">
                        <li class="li-specialty">
                            <div class="specialty">
                                <span class="education-icon"><i class="fa fa-file-text"></i></span>
                                <span class="specialty-name">Front End Angular 2 Developer   </span>
                            </div>
                        </li>
                        <li class="li-university">
                            <div class="university">
                                <span class="education-icon"><i class="fa fa-university"></i></span>
                                <span class="university-name">Baustein Strategic Design Group Inc</span>
                            </div>
                        </li>
                    </ul>
                    <p class="prg-education"><strong>Responsibility:</strong>Designed and developed the application using Angular 2 framework along with HTML5, CSS3, Type Script, Java Script, Bootstrap 4, NPM</p>
                </div>
            </div>
            <!-- / single education -->
            <!-- single education -->
            <div class="col-sm-4">
                <div class="education-content">
                    <div class="period">
                        <h3>Apr-2016 - Aug-2017</h3>
                    </div>
                    <ul class="ul-education">
                        <li class="li-specialty">
                            <div class="specialty">
                                <span class="education-icon"><i class="fa fa-file-text"></i></span>
                                <span class="specialty-name">Web Application Developer</span>
                            </div>
                        </li>
                        <li class="li-university">
                            <div class="university">
                                <span class="education-icon"><i class="fa fa-university"></i></span>
                                <span class="university-name">Clinical Trials Ontario </span>
                            </div>
                        </li>
                    </ul>
                    <p class="prg-education"><strong>Responsibility:</strong>Designed and developed the application using Angular 2 framework along with HTML5, CSS3, Type Script, Java Script, Bootstrap, NPM.</p>
                </div>
            </div>
            <!-- / single education -->
            <div class="clearfix"></div>
        </div>
    </section>
</div>