<section id="contact-us" class="section section-contact-us wow fadeInUp" data-wow-offset="40" style="visibility: visible; animation-name: fadeInUp;">
    <div class="header-section">
        <h2 class="h2-section">CONTACT Me</h2>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="info-content">
                <h3>KEEP IN TOUCHE</h3>
                <div class="address">
                    <span class="info-icon"><i class="fa fa-map-marker"></i></span>
                    <span class="info-text">Toronto,Ontario</span>
                </div>
                <div class="email">
                    <span class="info-icon"><i class="fa fa-envelope"></i></span>
                    <span class="info-text">jyotipatel3138@gmail.com</span>
                </div>
                <div class="telephone">
                    <span class="info-icon"><i class="fa fa-phone"></i></span>
                    <span class="info-text">+647-745-3324</span>
                </div>
            </div>
        </div>
    </div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <mat-panel-description>
            Type your name and email
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>
      <br>
        <mat-form-field>
          <input matInput placeholder="Last name">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="phone">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="email">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="message">
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  
    <div class="social-links">
        <ul>
            <li><a routerLink="/"><i class="fa fa-facebook"></i></a></li>
            <li><a routerLink="/"><i class="fa fa-twitter"></i></a></li>
            <li><a routerLink="/"><i class="fa fa-google-plus"></i></a></li>
            <li><a routerLink="/"><i class="fa fa-linkedin"></i></a></li>
            <li><a routerLink="/"><i class="fa fa-pinterest-p"></i></a></li>
            <li><a routerLink="/"><i class="fa fa-behance"></i></a></li>
        </ul>
    </div>
</section>
 