<div class="container" style="margin-top:30px">
  <section id="education" class="section section-education wow fadeInUp" data-wow-offset="40" style="visibility: visible; animation-name: fadeInUp;">
  <div class="header-section">
      <h2 class="h2-section">EDUCATION</h2>
  </div>
      <div class="row">
          <div class="col-sm-4">
              <div class="education-content">
                  <div class="period">
                      <h3>2006 - 2009</h3>
                  </div>
                  <ul class="ul-education">
                      <li class="li-specialty">
                          <div class="specialty">
                              <span class="education-icon"><i class="fa fa-file-text"></i></span>
                              <span class="specialty-name">Bechleour'Degree</span>
                          </div>
                      </li>
                      <li class="li-university">
                          <div class="university">
                              <span class="education-icon"><i class="fa fa-university"></i></span>
                              <span class="university-name">Veer Narmad South Gujarat University</span>
                          </div>
                      </li>
                  </ul>
                  <p class="prg-education">I completed this degree from this prestigious insitution. I successful completed all the credits without any fallout and got A grade overall.</p>
              </div>
          </div>
       
          <div class="col-sm-4">
              <div class="education-content">
                  <div class="period">
                      <h3>2009 - 2012</h3>
                  </div>
                  <ul class="ul-education">
                      <li class="li-specialty">
                          <div class="specialty">
                              <span class="education-icon"><i class="fa fa-file-text"></i></span>
                              <span class="specialty-name">Master's Degree in computer Science</span>
                          </div>
                      </li>
                      <li class="li-university">
                          <div class="university">
                              <span class="education-icon"><i class="fa fa-university"></i></span>
                              <span class="university-name">Gujarat Technological University</span>
                          </div>
                      </li>
                  </ul>
                  <p class="prg-education">I completed this degree from this prestigious insitution. I successful completed all the credits without any fallout and got A grade overall.</p>
              </div>
          </div>
         
           <div class="col-sm-4">
            <div class="education-content">
                <div class="period">
                    <h3>2019 - 2020</h3>
                </div>
                <ul class="ul-education">
                    <li class="li-specialty">
                        <div class="specialty">
                            <span class="education-icon"><i class="fa fa-file-text"></i></span>
                            <span class="specialty-name">CS50's web Programming with Python and JavaScript</span>
                        </div>
                    </li>
                    <li class="li-university">
                        <div class="university">
                            <span class="education-icon"><i class="fa fa-university"></i></span>
                            <span class="university-name">Harvard University</span>
                        </div>
                    </li>
                </ul>
                <p class="prg-education">I am learing CS%) Web Programming with python and Java Script,CS50's Mobile Development with React online courses from </p>
            </div>
        </div>
          <div class="clearfix"></div>
      </div>
  </section>
</div>