<div class="container py-5">
    <div class="row">
       
        <div class="col-lg-12 mx-auto mb-5 text-white text-center">
            <h1 class="display-4 skills">TECHNICAL SKILL</h1>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
            <div class="bg-white rounded-lg p-5 shadow">
                <h2 class="h6 font-weight-bold text-center mb-4 skills">HTML</h2>
                <div class="progress mx-auto" data-value='80'> <span class="progress-left"> <span class="progress-bar border-primary"></span> </span> <span class="progress-right"> <span class="progress-bar border-primary"></span> </span>
                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                        <div class="h2 font-weight-bold skills">95<sup class="small">%</sup></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
            <div class="bg-white rounded-lg p-5 shadow">
                <h2 class="h6 font-weight-bold text-center mb-4 skills">CSS</h2>
                <div class="progress mx-auto" data-value='25'> <span class="progress-left"> <span class="progress-bar border-danger"></span> </span> <span class="progress-right"> <span class="progress-bar border-danger"></span> </span>
                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                        <div class="h2 font-weight-bold skills">95<sup class="small">%</sup></div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
            <div class="bg-white rounded-lg p-5 shadow">
                <h2 class="h6 font-weight-bold text-center mb-4 skills">Javascript</h2>
                <div class="progress mx-auto" data-value='76'> <span class="progress-left"> <span class="progress-bar border-success"></span> </span> <span class="progress-right"> <span class="progress-bar border-success"></span> </span>
                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                        <div class="h2 font-weight-bold skills">90<sup class="small">%</sup></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
            <div class="bg-white rounded-lg p-5 shadow">
                <h2 class="h6 font-weight-bold text-center mb-4 skills">Bootstrap</h2>
                <div class="progress mx-auto" data-value='12'> <span class="progress-left"> <span class="progress-bar border-warning"></span> </span> <span class="progress-right"> <span class="progress-bar border-warning"></span> </span>
                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                        <div class="h2 font-weight-bold skills">95<sup class="small">%</sup></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-6 mb-4">
            <div class="bg-white rounded-lg p-5 shadow">
                <h2 class="h6 font-weight-bold text-center mb-4 skills">ANGULAR(2,4,6,8,9)</h2>
                <div class="progress mx-auto" data-value='80'> <span class="progress-left"> <span class="progress-bar border-primary"></span> </span> <span class="progress-right"> <span class="progress-bar border-primary"></span> </span>
                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                        <div class="h2 font-weight-bold skills">85<sup class="small">%</sup></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
            <div class="bg-white rounded-lg p-5 shadow">
                <h2 class="h6 font-weight-bold text-center mb-4 skills">REACT</h2>
                <div class="progress mx-auto" data-value='25'> <span class="progress-left"> <span class="progress-bar border-danger"></span> </span> <span class="progress-right"> <span class="progress-bar border-danger"></span> </span>
                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                        <div class="h2 font-weight-bold skills">80<sup class="small">%</sup></div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
            <div class="bg-white rounded-lg p-5 shadow">
                <h2 class="h6 font-weight-bold text-center mb-4 skills">JAVA</h2>
                <div class="progress mx-auto" data-value='76'> <span class="progress-left"> <span class="progress-bar border-success"></span> </span> <span class="progress-right"> <span class="progress-bar border-success"></span> </span>
                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                        <div class="h2 font-weight-bold skills">70<sup class="small">%</sup></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-4">
            <div class="bg-white rounded-lg p-5 shadow">
                <h2 class="h6 font-weight-bold text-center mb-4 skills">DATABSE</h2>
                <div class="progress mx-auto" data-value='12'> <span class="progress-left"> <span class="progress-bar border-warning"></span> </span> <span class="progress-right"> <span class="progress-bar border-warning"></span> </span>
                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                        <div class="h2 font-weight-bold skills">70<sup class="small">%</sup></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>